 /* body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  padding: 40px; 
} */

/* .container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
} */

/* h1 {
  text-align: center;
}

.input-section {
  display: flex;
  margin-bottom: 20px;
}

#diaryInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#addBtn {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#diaryList {
  list-style: none;
  padding: 0;
}

#diaryList li {
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
} */
.addBtn {
  background-color: #7c3aed; /* фиолетовый */
  color: white; /* белый текст */
  padding: 8px 16px; /* отступы */
  border-radius: 8px; /* скругленные углы */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* тень */
  border: none; /* убираем рамку */
  cursor: pointer;
  transition: margin-right 2s;
}

.addBtn:hover {
  background-color: #6d28d9; /* темнее при наведении */
}