.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #dba31f61, #dba31f62);

}

.about-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    text-align: center;
    transition: transform 0.2s;
}

.about-card :hover{
    transform: scale(1.02);
}

.about-card h1 {
    margin-bottom: 20px;
    color: #333;
}

.about-card p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.back-btn {
    margin-top: 20px;
    padding: 10px, 20px;
    background-color: white;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 1rem;
}

.back-btn:hover {
    transform: scale(1.02);
}